html {
  background-image: url(Img/background.jpg);
}
.main {
  margin-top: 7%;
  background-color: rgb(255, 255, 255);
}
.buttons {
  margin-left: 10%;
}
.mainphoto {
  margin-top: 7%;
}
.clock {
}
body {
  margin-left: 4%;
  margin-right: 4%;
}
