@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html {
  background-image: url(Img/background.jpg);
}
.main {
  background-color: rgb(255, 255, 255);
  float: right;
  width: 70%;
  margin-bottom: 10%;
  padding: 3%;
  border: 1px black;
  border-style: solid;
}
.buttons {
  margin-left: 10%;
}
#timedisplay {
  background-color: white;
  padding: 5%;
  text-align: center;
  width: 10%;
  font-size: 170%;
  float: left;
  border: 1px black;
  border-style: solid;
  font-family: "Lobster", cursive;
}
body {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 10%;
}
.contain {
}
hr {
  margin: 20px 0;
  padding: 0%;
  height: 10px;
  border: none;
  box-sizing: border-box;
  background-position: 50%;
  color: orange;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="orange"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"></polygon><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"></polygon></svg>');
  background-size: 6px 6px;
}
ol {
  list-style-type: none;
  background-color: white;
  padding: 1%;
  padding-top: 1%;
  text-align: center;
  width: 18%;
  float: left;
  border: 1px black;
  border-style: solid;
}
#list a {
  color: rgb(100, 100, 100);
  font-size: 90%;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 20px;
}
#list li {
  padding-top: 5%;
  padding-bottom: 5%;
}
#list a:hover {
  color: black;
  font-size: 100%;
}
#list a:active {
}
#list_names {
  margin: 0%;
  margin-bottom: 10%;
}
.eTitle {
  margin-bottom: 12px;
  padding-left: 37px;
  font-size: 1.286em;
  line-height: 1.333;
  font-weight: bold;
  color: #4b4b4b;
  background: url(img/shout.png) no-repeat left 2px;
}
.eImg {
  margin-bottom: 5%;
}
iframe {
  height: 430px;
  width: 100%;
}
