.Info {
  background: yellow;
  font-size: larger;
}
h1 {
  margin: 0 0 2% 0;
}
.ListBtn {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  font-size: 130%;
}
.ListBtn:hover {
  background-color: var(--text-color-hover);
  cursor: pointer;
}
