h1 {
  margin: 0% 0% 2% 0%;
}

.ListBtn {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  font-size: 130%;
}

.ListBtn:hover {
  background-color: var(--text-color-hover);
  cursor: pointer;
}

.ListInp {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  font-size: 130%;
  margin-top: 10px;
}

.ListInp:hover {
  background-color: var(--text-color-hover);
  cursor: pointer;
}

.id {
  display: none;
}

form {
  padding: 20px 0px 20px 0px;
  background: var(--second-bg-color);
}
