body {
    font-family: 'Oswald', sans-serif;
}

thead {
    font-weight: bolder;
    font-size: 90%;
    font-style: italic;
}

.bold {
    font-weight: bolder;
}

.title {
    margin-top: 5%
}

.bells,
.lassons {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

