body {
  font-family: "Oswald", sans-serif;
}

thead {
  font-weight: bolder;
  font-size: 90%;
  font-style: italic;
}

.bold {
  font-weight: bolder;
}

.title {
  margin-top: 5%;
}

.lassons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: var(--second-bg-color);
}

.tr {
  /* width: 50%;  */
  /* margin-left: 10%; */
  /* margin-right: 10%;  */
  /* padding-right: 20px;*/
} 

.bells {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}