body {
    font-family: "Oswald", sans-serif;
  }
  br {
    margin-top: 10px;
  }
  h2 {
    margin-top: 5%;
    text-align: center;
  }
  
  .backgraund {
    background: #fff;
    width: 70%;
    margin-left: 15%
  }
  