body {
  font-family: "Oswald", sans-serif;
}

.main {
  display: flex;
  width: 70%;
  margin-left: 15%;
}

#mainAlternativeThird {
  background-color: var(--main-bg-color);
  min-height: 70vh;
  box-sizing: border-box;
  margin-bottom: 10vh;
  padding: 3%;
  border: 1px var(--second-bg-color) solid;
  position: relative;
}

.sidebar {
  padding: 10px;
  box-sizing: border-box;
  border: 1px var(--second-bg-color) solid;
  position: fixed;
}

.MainInfo {
  margin-left: 22%;
  width: 100%;
}

textarea {
  resize: none;
  background: none;
  border: none;
  overflow: hidden;
  width: 100%;
  font-family: "Oswald", sans-serif;
}

form {
  width: 100%;
}