#account {
  margin-right: 2%;
  margin-left: 2%;
  border: none;
  padding: 0%;
  background: none;
  cursor: pointer;
  border-radius: 50%;
}

#index {
  margin-left: 2%;
}

.ColorSet {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar {
  height: 10vh;
  text-align: center;
  position: fixed;
  display: flex;
  overflow: hidden;
  background-color: var(--second-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 0%;
  left: 4%;
  right: 4%;
  z-index: 10;
}

.navbar p {
  color: var(--text-color);
}

#menuBtn {
  width: 47px;
  height: 47px;
  display: none;
  border: none;
  background-image: url(/Img/Button/BtnMenu.png);
}

.navbar a {
  font-size: 16px;
  color: var(--main-bg-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  display: inline;
  overflow: hidden;
  margin: 0%;
  padding: 0%;
  border: none;
}

.dropdown:nth-child(4) {
  margin-left: auto;
}

.dropdown:nth-last-child(3) {
  margin-right: auto;
}

.dropdown:nth-child(3) {
  margin-left: auto;
  margin-right: 5%;
  display: none;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--main-bg-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height: auto;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: var(--main-color);
  background-color: var(--main-bg-color-hover);
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--second-bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.dropdown-content a {
  float: none;
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content h3 {
  margin-left: 5%;
  color: var(--text-color);
}

.dropdown-content h3:nth-child(4) {
  margin-bottom: 0%;
}

.dropdown-content h4 {
  margin-top: 5%;
  margin-left: 5%;
  color: var(--text-color);
}

.dropdown-content a:hover {
  background-color: var(--main-bg-color-hover);
  color: var(--main-color);
}

.show {
  display: block;
  float: right;
}

#menuBtn {
  position: fixed;
  top: 0%;
  left: 0%;
  visibility: visible;
}

#myDropdown2 {
  visibility: hidden;
  background: var(--second-bg-color);
}

#myDropdown2 a {
  color: var(--main-bg-color);
  background: var(--second-bg-color);
}
