:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-bg-color-hover: rgb(0, 0, 0, 0.2);
  --main-color: rgb(255, 255, 0);
  --second-bg-color: rgb(51, 51, 51);
  --background-photo: url(/Img/backgroundLight.jpg);
  --text-color: rgb(0, 0, 0);
  --text-color-inverse: rgb(255, 255, 255);
  --text-color-hover: rgb(200, 200, 0);
  --btnScrlTop: url(/Img/Button/BtnScrlTopDark.png);
}

.pagebody {
  margin: 0% 4% 0% 4%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--second-bg-color);
  border-radius: 50px;
  border: 3px solid var(--main-bg-color);
}

/*Scroll*/

html {
  background-image: var(--background-photo);
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0%;
  padding: 0%;
}

#main {
  background-color: var(--main-bg-color);
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  margin-bottom: 10%;
  padding: 3%;
  border: 1px var(--second-bg-color) solid;
  border-bottom: none;
  position: relative;
  display: inline-block;
  text-align: center;
}

#mainAlternative {
  width: 70%;
  background-color: var(--main-bg-color);
  height: fit-content;
  box-sizing: border-box;
  margin-bottom: 10%;
  padding: 3%;
  /* border: 1px var(--second-bg-color) solid; */
  border-bottom: none;
  position: relative;
  display: inline-block;
}

a {
  cursor: pointer;
}

#scrlBtnTop {
  position: fixed;
  right: 0%;
  bottom: 0%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  z-index: 2;
  visibility: hidden;
}

.btnSwpP {
  background-color: var(--second-bg-color);
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline;
  align-items: center;
  justify-content: center;
}

.swapBtn {
  border: solid var(--second-bg-color) 2px;
  box-sizing: border-box;
  background-color: var(--main-color);
  height: 30px;
  padding: 0px 10px 0px 10px;
}

.swapBtn:hover {
  background-color: var(--text-color-hover);
  cursor: pointer;
}

#btnSwpPP {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#btnSwpPM {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.viseOff {
  visibility: hidden;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: var(--second-bg-color);
  color: var(--text-color-inverse);
  bottom: 0%;
  left: 0%;
  width: -webkit-fill-available;
  position: relative;
}

footer a {
  color: var(--text-color-inverse);
  text-decoration: none;
}

#pagebody {
  margin: 10% 4% 0% 4%;
}

#error {
  position: fixed;
  background-color: black;
  text-align: center;
  color: red;
  top: 10%;
  width: 100vw;
  z-index: 100;
}
