@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

#main {
  background-color: rgb(255, 255, 255);
  float: right;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10%;
  padding: 3%;
  border: 1px black;
  border-style: solid;
}
hr {
  margin: 20px 0;
  padding: 0%;
  height: 10px;
  border: none;
  box-sizing: border-box;
  background-position: 50%;
  color: yellow;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="yellow"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"></polygon><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"></polygon></svg>');
  background-size: 6px 6px;
  border-radius: 5%;
}

.eTitle {
  margin-bottom: 12px;
  padding-left: 37px;
  font-size: 1.286em;
  line-height: 1.333;
  font-weight: bold;
  color: #4b4b4b;
  background: url(img/shout.png) no-repeat left 2px;
}
.eImg {
  margin-bottom: 5%;
}
iframe {
  height: 430px;
  width: 100%;
}
