@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");

#LogIn {
  background-color: var(--second-bg-color);
  border: solid var(--main-color) 3px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  padding: 5%;
  font-family: "Oswald", sans-serif;
}
.names {
  display: flex;
}
.names div {
  margin: auto;
}
#email {
  margin: auto;
  width: fit-content;
}
input {
  border-radius: 10px;
}
#LogIn a {
  padding: 1%;
}
.button {
  background: var(--main-color);
  border: none;
  color: var(--text-color);
  font-size: 100%;
  cursor: pointer;
  margin: auto;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}
.button:hover {
  background: var(--text-color-hover);
}

#footer {
  position: fixed;
  width: auto;
  right: 4%;
  left: 4%;
  bottom: 0%;
}
p {
  color: var(--text-color-inverse);
}
@media screen and (max-width: 410px) {
  .names {
    display: block;
  }
}
